* {
  box-sizing: border-box;
}

.quizz {
  margin: 1px;
  list-style: none;
}

body {
  background-color: papayawhip;
}
img {
  border-radius: 10px;
  width: 400px;
  height: 300px;
  object-fit: cover;
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}
ul {
  list-style: square;
}
table {
  background-color: whitesmoke;
  border: 1px black solid;
  border-collapse: collapse;
}
th,
td {
  border: 1px black solid;
  border-collapse: collapse;
  text-align: center;
}
td,
th {
  padding: 5px;
}
.figuraP {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}

.imgDefault {
  height: 100px;
  width: 150px;
  object-fit: cover;
}

* {
  font-family: "PT Sans", sans-serif;
}

.texto {
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.726);
  color: black;
  border: 1.5px solid slategray;
  padding: 3px;
  display: inline-block;
  margin-bottom: 2px;
  text-align: center;
  border-radius: 8px;
}

a:visited {
  color: rgb(255, 110, 110);
}

a:hover,
a:active {
  background-color: slategrey;
  color: white;
}

table.htmlTable tr:nth-child(even) {
  background: lightblue;
}

p {
  margin-bottom: 20px;
}

p::first-letter {
  font-size: 1.2em;
}

footer {
  font-size: 12px;
}
